.calorie-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    max-width: 300px;
}


.calorie-form label {
    font-size: 16px;
    margin-bottom: 5px;
}

.calorie-input,
.food-input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.submit-button {
    width: 100%;
    background-color: #007BFF;
    color: white;
}
